{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'iiits/css/w3.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'iiits/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'iiits/css/iiits.css' %}">
<!--link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'-->

<script src="{% static 'iiits/js/jquery.js' %}"></script>
<script src="{% static 'iiits/js/bootstrap.min.js' %}"></script>
<script src="{% static 'iiits/js/script.js' %}"></script>
<script src="{% static 'iiits/js/tiny_mce.js' %}"></script>