
<!DOCTYPE html>
<html lang="en">
	{% block head %}
	<head>
		{% block title %}
		 	<title>{{title}}</title>
		{% endblock %}
		{% include 'iiits/base/base_resources.html' %}
		
	</head>
	{% endblock %}
	<body>
		{% block topnav %}
			{% include 'iiits/build/nav.html' %}
		{% endblock %}
		{% block mast %}
			{% include mast %}
		{% endblock %}
		<div class="wrapper">
			{% block main %}
			
			{% endblock %}
		</div>
		{% block footer %}
			{% include 'iiits/build/footer.html' %}
		{% endblock %}
	</body>
</html>
