<center><h4>List of Research Areas</h4></center>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> 
	<ul class="ul-no-style-black"> 
	{% for area in areas1 %}
		<li><a href="{{area.get_url}}">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			&nbsp;{{ area.title }}
			</a>
		</li>
	{% empty %}

	{% endfor %}
	</ul>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> 
	<ul class="ul-no-style-black"> 
	{% for area in areas2 %}
		<li><a href="{{area.get_url}}">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			&nbsp;{{ area.title }}
			</a>
		</li>
	{% empty %}

	{% endfor %}
	</ul>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> 
	<ul class="ul-no-style-black"> 
	{% for area in areas3 %}
		<li><a href="{{area.get_url}}">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			&nbsp;{{ area.title }}
			</a>
		</li>
	{% empty %}

	{% endfor %}
	</ul>
</div>	