{% autoescape off %}
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
	<center><h4>List of Research Areas</h4></center>
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12"> 
	{% for alpha in r_areas %}
		<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
			<div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
				<span class="ik-m2k1n21bw">{{ alpha.alpha }}</span>
			</div>
			<div class="col-lg-11 col-sm-11 col-xs-11 col-md-11">
				<ul class="mb-mk542nl1q">
				{% for area in alpha.areas %}
					<li>{{ area.title}}</li>
				{% endfor %}
				</ul>
			</div>
		</div>		
		{% empty %}

	{% endfor %}
	</div>
</div>
<div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
  <div class="right-nav">
  </div>
</div>	
<style type="text/css">
	.ik-m2k1n21bw{font-family: 'Open Sans Condensed', sans-serif;
font-weight: bold;
font-size: 32px;
color: rgb(198, 15, 54);}
	.mb-mk542nl1q{font-family: 'Roboto Condensed' ,sans-serif;
font-size: 16px;
border-left: 5px solid rgb(198, 15, 54);
list-style: none;
padding: 0px 15px;
margin-top: 10px;}
</style>
{% endautoescape %}
