{% extends base %}
{%load staticfiles %}

{% block main %}
	<div class="container-fluid">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
		<div class="col-lg-3 col-sm-3 col-md-3 col-xs-2 iiits-sidenav">
			<div class="iiits-logo-sidenav">
				<img src="{% static 'iiits/images/iiits-logo-grey.png' %}">
			</div>
			<ul>
				<li>
					<a href="#centres" onclick="slideTo(centres)">
						RESEARCH CENTRES
					</a>
				</li>
				<li>	
					<a href="#areas" onclick="slideTo(areas)">
						AREAS OF INTEREST
					</a>
				</li>	
			<!--a href="#publications" onclick="slideTo(publications)">
				<div><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;Publications</div>
			</a>
			<a href="#portfolio" onclick="slideTo(portfolio)">
				<div><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;Portfolio</div>
			</a>
			<a href="#scholars" onclick="slideTo(scholars)">
				<div><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;Scholars</div>
			</a-->
			</ul>
		</div>
		<div class="col-lg-8 col-sm-8 col-md-8 col-xs-10">
			<div class="iiits-card-full iiits-padding-25" id="centres">
				{% include research_centres %}
			</div>
			<div class="iiits-card-full iiits-padding-25" id="areas">
				{% include research_areas %}
			</div>
			<!--div class="iiits-card-full iiits-padding-25" id="publications">
				{% include research_publications %}
			</div>
			<div class="iiits-card-full iiits-padding-25" id="portfolio">
				{% include research_portfolio %}
			</div>
			<div class="iiits-card-full iiits-padding-25" id="scholars">
				{% include research_scholars %}
			</div-->
		</div>
	</div>
{% endblock %}