{% extends base %}
{% block title%}
<title>Parents | Indian Institute of Information Technology, Chittoor, Sri City</title>
{% endblock %}
{%block main %}
	<div class="col-lg-4 col-md-4 col-sm-2 col-xs-1"></div>
	<div class="col-lg-4 col-md-4 col-sm-8 col-xs-10">
		<div class="box" style="margin-top:15vh;">
			<div class="box-header">
				<center>Login to parent's portal</center>
			</div>
			<div class="box-body">
				{{form}}
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-2 col-xs-1"></div>
{% endblock %}
{% block footer %}
	{% include 'iiits/build/home-footer.html' %}
{% endblock %}