{% extends base %}
{%load staticfiles %}

{% block title %}
<title>Careers | Indian Institute of Information Technology, Chittoor, Sri City</title>
{% endblock %}
{% block main %}
<div class="container-fluid">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 iiits-sidenav">
		<div class="iiits-logo-sidenav">
				<img src="{% static 'iiits/images/iiits-logo-grey.png' %}">
		</div>
		<a href="#faculty-positions" onclick="slideTo(faculty-positions)">
			<div>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp; 
				Faculty positions
			</div>
		</a>
		<a href="#non-faculty-positions" onclick="slideTo(other-positions)">
			<div>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;
				 Other positions
			</div>
		</a>
		<a href="#consultancy" onclick="slideTo(consultancy)">
			<div>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;
				 Consultancy / Contract
			</div>
		</a>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
		<div id="faculty-positions">
			{% include templates_fac %}
		</div>
		<div id="other-positions">
			{% include templates_other %}
		</div>
		<div id="consultancy">
			{% include templates_consultancy %}
		</div>
	</div>	

</div>
{% endblock %}