<table class="table table-borderless">
	<tr>
		<td>
			Department
		</td>
		<td>
			{{ faculty.department }}
		</td>	
	</tr>
	<tr>
		<td>
			Professional Education &amp; Ph.D	
		</td>
		<td>
			{%ifequal faculty.professional_edu 'NA' %}
			Not Available. 
			{% endifequal %}
			
			{% ifnotequal faculty.professional_edu 'NA' %}
			{{ faculty.professional_edu }}
			{% endifnotequal %}	
		</td>
	</tr>
	<tr>
		<td>
			Research Interests
		</td>
		<td>
			<ol>
			{% for ri in faculty.getAllResearchInterests %}
				<li>{{ri}}/li>
			{% empty %}
			</ol>
			Not Available
			{% endfor %}
		</td>
	</tr>
	<tr>
		<td>
			Website
		</td>
		<td>
			{%ifequal faculty.website 'NA' %}
			Not Available. 
			{% endifequal %}
			
			{% ifnotequal faculty.website 'NA' %}
			{{ faculty.website }}
			{% endifnotequal %}	
		</td>
	</tr>
	<tr>
		<td>
			Contact 
		</td>
		<td>
			<b>Email:</b>&nbsp;&nbsp;{{ faculty.user.email}}
		</td>
	</tr>
	<tr>
		<td>
			Achievements
		</td>
		<td>
			{%ifequal faculty.achievements 'NA' %}
			Not Provided.
			{% endifequal %}
			
			{% ifnotequal faculty.achievements 'NA' %}
			{{ faculty.achievements }}
			{% endifnotequal %}	
		</td>
	</tr>
	<tr>
		<td>
			Other Information
		</td>
		<td>
			{%ifequal faculty.other_info 'NA' %}
			Not Provided.
			{% endifequal %}
			
			{% ifnotequal faculty.other_info 'NA' %}
			{{ faculty.other_info }}
			{% endifnotequal %}
		</td>
	</tr>
</table>