{% autoescape off %}
<table style="border: 2px solid #800000;" class="table table-borderless">
	<tr>
		<td>
			Department
		</td>
		<td>
			{{ faculty.department }}
		</td>	
	</tr>
	<tr>
		<td>
			Professional Education &amp; Ph.D	
		</td>
		<td>
			{%ifequal faculty.professional_edu 'NA' %}
			Not Available. 
			{% endifequal %}
			
			{% ifnotequal faculty.professional_edu 'NA' %}
			{{ faculty.professional_edu }}
			{% endifnotequal %}	
		</td>
	</tr>
	<tr>
		<td>
			Research Interests
		</td>
		<td>
			{{faculty.research_areas}}
		</td>
	</tr>
	{% ifequal faculty.show_website True %}
	<tr>
		<td>
			Website
		</td>
		<td>
			{%ifequal faculty.website 'NA' %}
			Not Available. 
			{% endifequal %}
			
			{% ifnotequal faculty.website 'NA' %}
			{{ faculty.website }}
			{% endifnotequal %}	
		</td>
	</tr>
	{% endifequal %}
	{% ifequal faculty.show_contact True %}
	<tr>
		<td>
			Contact 
		</td>
		<td>
			{{ faculty.contact}}
		</td>
	</tr>
	{%endifequal%}
	{% ifequal faculty.show_achievements True %}
	<tr>
		<td>
			Achievements
		</td>
		<td>
			{%ifequal faculty.achievements 'NA' %}
			Not Provided.
			{% endifequal %}
			
			{% ifnotequal faculty.achievements 'NA' %}
			{{ faculty.achievements }}
			{% endifnotequal %}	
		</td>
	</tr>
	{% endifequal %}
	{% ifequal faculty.show_other_info True%}
	<tr>
		<td>
			Other Information
		</td>
		<td>
			{%ifequal faculty.other_info 'NA' %}
			Not Provided.
			{% endifequal %}
			
			{% ifnotequal faculty.other_info 'NA' %}
			{{ faculty.other_info }}
			{% endifnotequal %}
		</td>
	</tr>
	{% endifequal %}
</table>
{% endautoescape %}
