{% extends base %}
{% block title %}
<title>Faculty | Indian Institute of Information Technology, Chittoor, Sri City</title>
{% endblock %}
{% block main %}
<div class="container">
	<div class="iiits-card col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<center>
			<div class="iiits-tab-header-4" id="iiits-tab-link-0" onclick="tabNavigate(0)">
				<span class="iiits-tab-text">
					<b>Faculty</b>
				</span>
			</div>
			<div class="iiits-tab-header-4" id="iiits-tab-link-1" onclick="tabNavigate(1)">
				<span class="iiits-tab-text">
					<b>Visiting Faculty</b>
				</span>
			</div>
		</center>
	
		<div class="iiits-padding-25" id="iiits-tab-content-0">
			<center class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				{% for x in inst_faculty_list %}
					<div class="profiler">
						<div class="circle" style="background:url('{{x.photo.url}}');background-position: 50%; background-repeat: no-repeat; background-size:120px; background-origin:content-box;">
						</div>
						<div class="circle-text">
							<center class="circle-name"><b><a  href="/faculty/~{{x.public_uri_name}}">{{x.user.get_full_name | capfirst |upper }}</a></b></center>
							<center class="circle-designation">{{x.title |upper}}</center>
						</div>			
					</div>
				{% endfor %}
			</center>	
		</div>
			
		<div class="iiits-padding-25" id="iiits-tab-content-1">
			<center class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				{% for x in vs_faculty_list %}
					<div class="profiler">
						<div class="circle" style="background:url('{{x.photo.url}}');background-position: 50%; background-repeat: no-repeat; background-size:120px; background-origin:content-box;">
						</div>
						<div class="circle-text">
							<center class="circle-name"><b><a  href="/faculty/~{{x.public_uri_name}}">{{x.user.get_full_name | capfirst |upper }}</a></b></center>
							<center class="circle-designation">{{x.title |upper}}</center>
							<center class="circle-designation" style="color:green;"><a target="_blank" href="https://{{x.institute.website }}">
								<span style="font-size:12px;">{{x.institute}}</span>
							</a></center>
						</div>			
					</div>
				{% endfor %}
			</center>	
		</div>
	</div>
	<div class="col-lg-1 col-sm-1 col-md-1 hidden-xs">
	</div>
</div>
{% endblock %}
{% block footer %}
	{% include 'iiits/build/home-footer.html' %}
{% endblock %}