{% extends base %}
{%load staticfiles %}

{% block title %}
<title>Campus Life| Indian Institute of Information Technology, Chittoor, Sri City</title>
{% endblock %}
{% block main %}
	<div class="container-fluid">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 iiits-sidenav">
			<div class="iiits-logo-sidenav">
				<img src="{% static 'iiits/images/iiits-logo-grey.png' %}">
			</div>
			<ul>
				<li>	
					<a  onclick="showOnly(student_life)">
				 		ATHLETICS &amp; SPORTS
				 	</a>
				</li>
				<li>	
					<a  onclick="showOnly(student_life)">
				 		ARTS &amp; CULTURALS
				 	</a>
				</li>
				<li>
					<a  onclick="showOnly(facilties)"> 
						ACADEMIC FACILITIES
					</a>
				</li>
				<li>
					<a  onclick="showOnly(facilties)"> 
						LIFESTYLE
					</a>
				</li>
				<li>
					<a  onclick="showOnly(facilties)"> 
						ENTERTAINMENTS
					</a>
				</li>
				<li>
					<a  onclick="showOnly(facilties)"> 
						LIFE AROUND IIIT
					</a>
				</li>
				<li>	
					<a  onclick="showOnly(events)">
				 		EVENTS
					</a>
				</li>
			</ul>
		</div>		 
		<div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
			<div class="iiits-card-full iiits-padding-25" data-type="show-only" id="facilities">
				{% include templates_facilities %}
			</div>
			<div class="iiits-card-full iiits-padding-25" data-type="show-only" id="events">
				{% include templates_events %}
			</div>
			<div class="iiits-card-full iiits-padding-25" data-type="show-only" id="student_life">
				{% include templates_student_life %}
			</div>
		</div>
	</div>
{% endblock %}