{% extends base %}
{%load staticfiles %}

{% block main %}
	<div class="container-fluid">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 iiits-sidenav">
			<div class="iiits-logo-sidenav">
				<img src="{% static 'iiits/images/iiits-logo-grey.png' %}">
			</div>
			<ul>
				<li>
					<a  onclick="showOnly(news)">
						NEWS
					</a>
				</li>
				<li>
					<a  onclick="showOnly(notices)">
			 			NOTICES
					</a>
				</li>
				<li>
					<a  onclick="showOnly(tenders)">
			 			TENDERS
					</a>
				</li>
				<li>
					<a  onclick="showOnly(archives)">
						ARCHIVES
					</a>
				</li>
			</ul>	
		</div>
		<div class="col-lg-9 col-sm-9 col-md-9 col-xs-10">
			<div class="iiits-card-full iiits-padding-25" data-type="show-only" id="news">
				{% include templates_news %}
			</div>
			<div class="iiits-card-full iiits-padding-25" data-type="show-only" id="notices">
				{% include templates_notices %}
			</div>
			<div class="iiits-card-full iiits-padding-25" data-type="show-only" id="tenders">
				{% include templates_tenders %}
			</div>
			<div class="iiits-card-full iiits-padding-25" data-type="show-only" id="archives">
				{% include templates_archives %}
			</div>
		</div>
	</div>
{% endblock %}