{% extends base %}
{% block main %}
	<div class="container-fluid">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
		<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 iiits-sidenav">
			<a href="#programmes" onclick="slideTo(programmes)">
				<div><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;Programmes</div>
			</a>
			<a href="#curriculum" onclick="slideTo(curriculum)">
				<div><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;Curriculum</div>
			</a>
			<a href="#timetable" onclick="slideTo(timetable)">
				<div><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;Time Table</div>
			</a>
			<a href="#general_info" onclick="slideTo(general_info)">
				<div><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;General Info</div>
			</a>
		</div>
		<div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
			<div class="iiits-card-full iiits-padding-25" id="programmes">
				{% include academics_programmes %}
			</div>
			<div class="iiits-card-full iiits-padding-25" id="curriculum">
				{% include academics_curriculum %}
			</div>
			<div class="iiits-card-full iiits-padding-25" id="timetable">
				{% include academics_timetable %}
			</div>
			<div class="iiits-card-full iiits-padding-25" id="general_info">
				{% include academics_general_info %}
			</div>
		</div>
	</div>
{% endblock %}