{% extends base %}
{%load staticfiles %}

{% block title %}
<title>Academics | Indian Institute of Information Technology, Chittoor, Sri City</title>
{% endblock %}
{% block main %}
	<div class="container-fluid">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
		<div class="col-lg-3 col-sm-3 col-md-3 col-xs-12 iiits-sidenav">
			<div class="iiits-logo-sidenav">
				<img src="{% static 'iiits/images/iiits-logo-grey.png' %}">
			</div>
			<ul>
				<li><a href="#programmes" onclick="slideTo(programmes)">
						PROGRAMMES
					</a>
				</li>
				<li>
					<a href="#curriculum" onclick="slideTo(curriculum)">
						CURRICULUM
					</a>
				</li>
				<li>
					<a href="#timetable" onclick="slideTo(timetable)">
						TIME TABLE
					</a>
				</li>
				<li>
					<a href="#general_info" onclick="slideTo(general_info)">
						GENERAL INFO
					</a>
				</li>
			</ul>
		</div>
		<div class="col-lg-7 col-sm-7 col-md-7 col-xs-7">
			<div class="iiits-card-full iiits-padding-25" id="programmes">
				{% include academics_programmes %}
			</div>
			<div class="iiits-card-full iiits-padding-25" id="curriculum">
				{% include academics_curriculum %}
			</div>
			<div class="iiits-card-full iiits-padding-25" id="timetable">
				{% include academics_timetable %}
			</div>
			<div class="iiits-card-full iiits-padding-25" id="general_info">
				{% include academics_general_info %}
			</div>
		</div>
		<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
  			<div class="right-nav">
  			</div>
		</div>	
	</div>
{% endblock %}