{% autoescape off %}
	<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
	<div class="col-lg-6 col-sm-8 col-xs-10 col-md-6 oc-t6b4c9x0a2w">
	{% for x in contact_us %}
		<span class="eu-5m3o8j12mn3j">{{x.title}}</span>
		<span class="wq-m2n1b7v5c8zk">{{x.address}}</span>
	{% endfor %}
	<span class="te-n6m21mk113kl">Admissions Help Desk: </span><span class="mg-j1n4a9u8q4tp">{{admissions_help_desk.property_value}}</span>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>

<div class="write-to-us col-lg-12 col-md-12 col-xs-12 col-sm-12">
	<center><span class="jl-l23ml1k231v">WRITE TO US</span></center>
	<form method="post">
	{% csrf_token %}
	<div class="bl-mn5n3b2b9v9v1c col-lg-6 col-md-6 col-xs-12 col-sm-12">
		<label>What's your name ? <span class="asterik">*</span></label>
		<input type="text" name="name" class="ma-kl132mj43n">
		<label>What's your email id ? <span class="asterik">*</span></label>
		<input type="text" name="name" class="ma-kl132mj43n">
		<label>What's your phone number ? <span class="asterik">*</span></label>
		<input type="text" name="name" class="ma-kl132mj43n">
	</div>
	<div class="bl-mn5n3b2b9v9v1c col-md-6 col-lg-6 col-sm-12 col-xs-12">
		<label>Tell us what you would like to know ? <span class="asterik">*</span></label>
		<textarea name="name" class="ma-kl132mj43n" style="height: 170px; overflow-y: scroll;">
		</textarea>
	</div>
	<center><button type="submit" class="btn-m13n2">SUBMIT!</button></center>
	</form>
</div>
{% endautoescape %}
<style type="text/css">
	.bl-mn5n3b2b9v9v1c{  color: white; }
	.bl-mn5n3b2b9v9v1c label{ margin:10px 0; font-family: 'Orbitron';}
	.ma-kl132mj43n{ height: 30px;width: 100%;border-radius: 0px;border: none; color:black;}
	.te-n6m21mk113kl{font-family: 'Orbitron';}
	.asterik{color:white;}
	.eu-5m3o8j12mn3j{font-variant: small-caps;font-size: 20px;font-weight: bold;color: rgb(200,63,34);}
	.wq-m2n1b7v5c8zk{color:grey;}
	.write-to-us{min-height: 30vh;padding: 5vh 10vw;background: rgb(200,45,32);border-bottom: 15px inset rgb(206, 24, 24);border-top: 5px outset rgb(206,24,24);}
	.oc-t6b4c9x0a2w{background: #FFF;box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19) !important;padding: 15px;margin: 15px;overflow: hidden;}
	.jl-l23ml1k231v{font-family: 'Orbitron'; font-size: 32px; color: white;}
	.btn-m13n2{background: white; color: rgb(200,45,32); font-family: 'Orbitron'; margin-top: 15px; padding: 7.5px 20px;border: none;border-radius: 25px;}
	.btn-m13n2:hover{cursor: pointer; opacity: 0.8;}
</style>