{% extends base %}
{%load staticfiles %}

{% block title %}
<title>Admissions | Indian Institute of Information Technology, Chittoor, Sri City</title>
{% endblock %}
{% block main %}
<div class="container-fluid">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 iiits-sidenav">
		<div class="iiits-logo-sidenav">
				<img src="{% static 'iiits/images/iiits-logo-grey.png' %}">
		</div>
		<ul>
			<li>
				<a href="#undergrad" onclick="slideTo(undergrad)">
					UNDER GRADUATE
				</a>
			</li>	
			<li>
				<a href="#postgrad" onclick="slideTo(postgrad)">
					POST GRADUATE
				</a>
			</li>
		</ul>		
	</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
		<div id="undergrad">
			{% include admissions_undergraduate %}
		</div>
		<div id="postgrad">
			{% include admissions_postgraduate %}
		</div>
	</div>	

</div>
{% endblock %}